.about {
    background-color: $dark-blue-color;
    &__section-title {
        padding-top: 120px;
        margin-bottom: 0;
        text-align: center;
        background-color: $dark-blue-color;
        @media(max-width: 600px) {
            padding-top: 60px;
        }
    }
}