.advantages {
    padding-top: 120px;
    background-color: $dark-blue-color;
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        border: 1px solid $grey-color;
        padding: 40px;
        transition: background-color 0.5s ease-in-out;
        &:hover {
            background-color: $accent-color;
        }
        &:hover .advantages__icons{
            stroke: $white-color;
        }
        &:hover .advantages__descr{
            color: $white-color;
        }
        @media (max-width: 1000px) {
            padding: 30px;
        }
        @media (max-width: 576px) {
            padding: 20px;
        }
    }
    &__icons {
        width: 78px;
        height: 78px;
        margin-bottom: 50px;
        @media (max-width: 1000px) {
            margin-bottom: 16px;
        }
        @media (max-width: 480px) {
            width: 48px;
            height: 48px;
        }
    }
    &__title {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 16px;
        @media (max-width: 1000px) {
            margin-bottom: 8px;
            font-size: 18px;
        }
    }
    &__descr {
        max-width: 350px;
        font-size: 14px;
        line-height: 1.5;
        color: $grey-color;
        @media (max-width: 1000px) {
            font-size: 12px;
        }
    }
}