.bread-crumbs {
    padding-top: 120px;
    background-color: $dark-blue-color;
    padding-bottom: 50px;
    @media(max-width: 510px) {
        padding-top: 100px;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__item {
        font-size: 12px;
        text-transform: uppercase;
        color: $grey-color;
        transition: color 0.3s linear;
        &:hover {
            color: $accent-color;
        }
        &:last-child {
            font-weight: 500;
            &:hover {
                color: $grey-color;
            }
        }
    }
    &__separator {
        position: relative;
        bottom: 2px;
        display: block;
        width: 16px;
        height: 1px;
        background-color: $dark-grey-color;
        margin-left: 8px;
        margin-right: 8px;
    }
}