.btn {
    outline: none;
    &__short {
        padding: 8px 18px;
        @media (max-width: 610px) {
            padding: 6px 12px;
            font-size: 13px;
        }
    }
    &--md {
        padding: 12px 24px;
    }
    &__wide {
        width: 100%;
        padding: 14px 0;
    }
    &__accent {
        color: $white-color;
        background-color: $accent-color;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: $dark-accent-color;
        }
    }
    &__empt {
        color: $accent-color;
        border: 2px solid $accent-color;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: $white-color;
        }
    }
    &__product {
        transition: background-color 0.3s ease-in-out;
    }
}