.hero{
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: $black-color;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
    background-position: right;
    z-index: 20;
    @media (max-width: 1236px) {
        background-position: inherit;
        background-size: cover;
    }
    @media (max-width: 600px) {
        background-position: right;
    }
    &__title {
        max-width: 524px;
        margin-bottom: 16px;
        font-weight: 500;
        @media (max-width: 745px) {
            font-size: 20px;
        }
    }
    &__description {
        max-width: 524px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 40px;
        @media (max-width: 745px) {
            font-size: 14px;
        }
    }
    &__btns {
        display: flex;
    }
    &__btn {
        margin-right: 16px;
        @media (max-width: 745px) {
            margin-right: 8px;
        }
    }
    &__img {
        width: 665px;
        height: auto;
        @media (max-width: 745px) {
            width: 465px;
        }
        @media (max-width: 510px) {
            width: 265px;
        }
    }
}