<section class="about-production">
    <div class="container">
        <h2 class="section-title">О производстве</h2>
        <ul class="about-production__list">
            <li class="about-production__item">
                <img class="about-production__img" src="img/about-production-section1.jpg" alt="">
                <h3 class="about-production__title">Производство типовых железобетонных изделий</h3>
                <button href="#" class="btn-reset btn btn__accent btn__short detailed1">Подробнее</button>
            </li>
            <li class="about-production__item">
                <img class="about-production__img" src="img/about-production-section2.jpg" alt="">
                <h3 class="about-production__title">Доставка <br> продукции <br> Ж/Д и авто транспорнтом</h3>
                <button href="#" class="btn-reset btn btn__accent btn__short detailed1">Подробнее</button>
            </li>
            <li class="about-production__item">
                <img class="about-production__img" src="img/about-production-section3.jpg" alt="">
                <h3 class="about-production__title">Производство изделий по индивидуальным чертежам</h3>
                <button href="#" class="btn-reset btn btn__accent btn__short detailed1">Подробнее</button>
            </li>
        </ul>
    </div>
</section>