<section class="about">
    <div class="container">
        <div class="production">
            <div class="production__about">
                <div class="production__content">
                    <p class="production__descr">
                        Наш завод ЖБИ основан в 2015 году.</br>В самом начале мы научились продавать и организовывать логистику для потребителей железобетонных изделий. Затем мы пошли дальше. Что бы ни утонуть в современном, быстроменяющемся рынке ЖБИ изделий,где вытесняются посредники государственными структурами и пожеланиями потребителей, коллективом ООО «ЗДСК» принято решение,об организации производства ЖБИ изделий.
                    </p>
                </div>
                <div class="production__photo">
                    <img class="production__img" src="img/productions-photo1.jpg" alt="Склад продукции">
                </div>
            </div>
            <div class="production__about">
                <div class="production__content production__content--even">
                    <p class="production__descr">
                        Производственные площади разместились в пригороде Екатеринбурга, где на сегодняшний день и продолжается производственный процесс.
                    </p>
                    <p class="production__descr production__descr--even">
                        Компания четко ориентируется на рынке, ассортимент продукции расширяется, при этом качество продукции только растёт.
                    </p>
                </div>
                <div class="production__photo production__photo--even">
                    <img class="production__img production__img--even" src="img/productions-photo2.jpg" alt="Продукция готова к транспортировке">
                </div>
            </div>
            <div class="production__about">
                <div class="production__content">
                    <p class="production__descr">
                        Все это отражается на ценовой политике и позволяет поддерживать ее на достаточно низком уровне. В 2018 году было принято решение о закупке нового оборудования EDIL STAMPI, KFPK PP, HANGCHA. Что позволило нашему заводу производить железобетонные изделия в больших объемах. Новейшие технологические разработки позволяют выпускать продукцию высочайшего качества, которая полностью соответствует как российским, так и зарубежным стандартам.
                    </p>
                </div>
                <div class="production__photo">
                    <img class="production__img" src="img/productions-photo3.jpg" alt="Производственный цех">
                </div>
            </div>
        </div>
    </div>
</section>