<section class="advantages">
    <div class="container">
        <h2 class="section-title">Наши преимущества</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
               <svg class="advantages__icons">
                    <use xlink:href="#advantages1"></use>
               </svg>
               <h3 class="advantages__title">Эффективная</br>логистика</h3>
               <p class="advantages__descr">Готовы организовать поставку ЖБИ на ваши строительные объекты автомобильным или железнодорожным транспортом, для перевозок используем свой автотранспорт, что существенно сокращает стоимость доставки продукци</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icons">
                    <use xlink:href="#advantages2"></use>
               </svg> 
               <h3 class="advantages__title">Надёжность</br>и опыт</h3>
               <p class="advantages__descr">Наш завод ЖБИ работает на строительном рынке уже более пяти лет. За это время мы честным трудом заработали свое доброе имя и деловую репутацию, которыми дорожит каждый сотрудник компании. За эти годы наш коллектив накопил ценнейшие знания, которые теперь используются на благо ваших интересов.</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icons">
                    <use xlink:href="#advantages3"></use>
               </svg> 
               <h3 class="advantages__title">Гибкие финансовые</br>условия</h3>
               <p class="advantages__descr">Мы дорожим каждым клиентом, с пониманием относимся к потребностям и возможностям заказчика при определении условий сотрудничества. Менеджеры компании всегда готовы сделать сотрудничество обоюдовыгодным.</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icons">
                    <use xlink:href="#advantages4"></use>
               </svg> 
               <h3 class="advantages__title">Качество</br>продукции</h3>
               <p class="advantages__descr">Вся продукция нашего завода ЖБИ строго соответствует требованиям ГОСТ. Мы тщательно отбираем поставщиков сырья для нашего производства. В штате компании работают только опытные специалисты, что обеспечивает профессиональный и внимательный контроль качества продукции на всех этапах производства.</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icons">
                    <use xlink:href="#advantages5"></use>
               </svg> 
               <h3 class="advantages__title">Индивидуальный</br>заказ</h3>
               <p class="advantages__descr">Наличие современного оборудования, собственный металлоцех, паровые камеры, цех изготовления бетонной смеси и  специалисты. Мы готовы поставить железобетонные изделия любой сложности, возьмемся за изготовление нестандартных изделий по вашим чертежам и проектам.</p>
            </li>
        </ul>
    </div>
</section>