<section class="catalog-section catalog-section--page">
    <div class="container">
        <h2 class="section-title">Каталог</h2>
        <div class="catalog-section__inner catalog-section__inner--page">
            <div class="product" data-action="catalog1">
                <a class="product__link" data-action="catalog1">
                    <img data-action="catalog1" class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 data-action="catalog1" class="product__title">Изделия для ОРУ подстанций 35-500 кВ <span class="product__num">5</span></h3>
                </a>
            </div>
            <div class="product" data-action="catalog2">
                <a class="product__link" data-action="catalog2">
                    <img data-action="catalog2" class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 data-action="catalog2" class="product__title">Изделия для инженерных коммуникаций <span class="product__num">12</span></h3>
                </a>
            </div>
            <div class="product" data-action="catalog3">
                <a class="product__link" data-action="catalog3">
                    <img data-action="catalog3" class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 data-action="catalog3" class="product__title">Изделия для колодцев канализационных сетей <span class="product__num">8</span></h3>
                </a>
            </div>
            <div class="product" data-action="catalog4">
                <a class="product__link" data-action="catalog4">
                    <img data-action="catalog4" class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 data-action="catalog4" class="product__title">Изделия для балластировки магистральных трубопроводов <span class="product__num">18</span></h3>
                </a>
            </div>
            <div class="product" data-action="catalog5">
                <a class="product__link" data-action="catalog5">
                    <img data-action="catalog5" class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 data-action="catalog5" class="product__title">Укрепления откосов дорог, русел и кюветов <span class="product__num">9</span></h3>
                </a>
            </div>
            <div class="product" data-action="catalog6">
                <a class="product__link" data-action="catalog6">
                    <img data-action="catalog6" class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 data-action="catalog6" class="product__title">Камни бетонные и железобетонные бортовые <span class="product__num">11</span></h3>
                </a>
            </div>
            <div class="product" data-action="catalog7">
                <a class="product__link" data-action="catalog7">
                    <img data-action="catalog7" class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 data-action="catalog7" class="product__title">Панели резервуаров, лотки <span class="product__num">5</span></h3>
                </a>
            </div>
        </div>
    </div>
</section>