<section class="catalog-section">
    <div class="container">
        <h2 class="section-title">Наш каталог</h2>
        <div class="catalog-section__inner">
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0,175т Объём&nbsp;0,07 м3</p>
                    <p class="product__price">15 200 Р/шт</p>
                    <button class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0,175т Объём&nbsp;0,07 м3</p>
                    <p class="product__price">15 200 Р/шт</p>
                    <button class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br> Вес&nbsp;0,175т Объём&nbsp;0,07 м3</p>
                    <p class="product__price">15 200 Р/шт</p>
                    <button class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br> Вес&nbsp;0,175т Объём&nbsp;0,07 м3</p>
                    <p class="product__price">15 200 Р/шт</p>
                    <button class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br> Вес&nbsp;0,175т Объём&nbsp;0,07 м3</p>
                    <p class="product__price">15 200 Р/шт</p>
                    <button class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br> Вес&nbsp;0,175т Объём&nbsp;0,07 м3</p>
                    <p class="product__price">15 200 Р/шт</p>
                    <button class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br> Вес 0,175т Объём&nbsp;0,07 м3</p>
                    <p class="product__price">15 200 Р/шт</p>
                    <button class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес&nbsp;0,175т Объём&nbsp;0,07 м3</p>
                    <p class="product__price">15 200 Р/шт</p>
                    <button class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
        </div>
        <button class="btn btn__accent btn-reset btn__wide">Весь каталог</button>
    </div>
</section>