<section class="catalog-section">
    <div class="container">
        <h2 class="section-title">Наш каталог</h2>
        <div class="catalog-section__inner">
            <div class="product" id="1">
                <a href="product-page.html" data-action="card-content"  class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3100х2060х580&nbsp;мм </br>Вес 0.175т Объём&nbsp;0.07 м3</p>
                    <p class="product__price">4500 грн/шт</p>
                    <button data-action="addToCart" class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product" id="2">
                <a href="product-page.html" data-action="card-content"  class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0.250т Объём&nbsp;0.07 м3</p>
                    <p class="product__price">3000 грн/шт</p>
                    <button data-action="addToCart" class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product" id="3">
                <a href="product-page.html" data-action="card-content" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0.175т Объём&nbsp;0.07 м3</p>
                    <p class="product__price">2800 грн/шт</p>
                    <button data-action="addToCart" class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product" id="4">
                <a href="product-page.html" data-action="card-content" class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0.175т Объём&nbsp;0.07 м3</p>
                    <p class="product__price">3500 грн/шт</p>
                    <button data-action="addToCart" class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product" id="5">
                <a href="product-page.html" data-action="card-content" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0.175т Объём&nbsp;0.07 м3</p>
                    <p class="product__price">4130 грн/шт</p>
                    <button data-action="addToCart" class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product" id="6">
                <a href="product-page.html" data-action="card-content" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0.175т Объём&nbsp;0.07 м3</p>
                    <p class="product__price">5450 грн/шт</p>
                    <button data-action="addToCart" class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product" id="7">
                <a href="product-page.html" data-action="card-content" class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0.175т Объём&nbsp;0.07 м3</p>
                    <p class="product__price">5200 грн/шт</p>
                    <button data-action="addToCart" class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
            <div class="product" id="8">
                <a href="product-page.html" data-action="card-content" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Лоток </br> Л 20.5 (УБК-2А)</h3>
                    <p class="product__description">Д/Ш/В 3080х2060х580&nbsp;мм </br>Вес 0.175т Объём&nbsp;0.07 м3</p>
                    <p class="product__price">6400 грн/шт</p>
                    <button data-action="addToCart" class="btn btn__accent btn__short btn__product btn-reset">В корзину</button>
                </a>
            </div>
        </div>
        <a href="catalog.html" class="btn btn__accent btn-reset btn__wide catalog-section__btn">Весь каталог</a>
    </div>
</section>