<section class="catalog-section catalog-section--page">
    <div class="container">
        <h2 class="section-title">Каталог</h2>
        <div class="catalog-section__inner catalog-section__inner--page">
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Изделия для ОРУ подстанций 35-500 кВ <span>5</span></h3>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Изделия для инженерных коммуникаций <span>12</span></h3>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Изделия для колодцев канализационных сетей <span>8</span></h3>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Изделия для балластировки магистральных трубопроводов <span>18</span></h3>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Укрепления откосов дорог, русел и кюветов <span>9</span></h3>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/plate.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Камни бетонные и железобетонные бортовые <span>11</span></h3>
                </a>
            </div>
            <div class="product">
                <a href="#" class="product__link">
                    <img class="product__img" src="img/tray.png" alt="concrete tray l 20.5 (УБК-2А)">
                    <h3 class="product__title">Панели резервуаров, лотки <span>5</span></h3>
                </a>
            </div>
        </div>
    </div>
</section>