<section class="contact">
    <div class="container">
        <h2 class="section-title contact__title">Связаться с нами</h2>
        <form class="contact__form" action="" method="post">
            <div class="contact__name-email">
                <input class="input-reset contact__input" type="text" id="name" name="user__name" placeholder="Имя" required>
                <input class="input-reset contact__input" type="email" id="mail" name="user__mail" placeholder="E-mail" required>
            </div>
            <textarea class="contact__input contact__input--message" name="your-message" id="message"
                placeholder="Ваше сообщение" maxlength="200"></textarea>
            <div class="contact__confirm">
                <button class="btn-reset btn btn__accent contact__btn" type="submit"><img src="img/send-contact.svg" alt="message"required> Отправить</button>
            </div>
        </form>
    </div>
</section>