<section class="delivery">
    <div class="container">
        <h2 class="section-title">Доставка</h2>
        <ul class="delivery__list">
            <li class="delivery__way">
                <img class="delivery__img" src="img/delivery1.png" alt="Авто трнаспорт">
                <h3 class="delivery__name">Авто <br> транспорт</h3>
            </li>
            <li class="delivery__way">
                <img class="delivery__img" src="img/delivery2.png" alt="Водный транспорт">
                <h3 class="delivery__name">Водный <br> транспорт</h3>
            </li>
            <li class="delivery__way">
                <img class="delivery__img" src="img/delivery3.png" alt="Железная дорога">
                <h3 class="delivery__name">Железная <br> дорога</h3>
            </li>
            <li class="delivery__way">
                <img class="delivery__img" src="img/delivery4.png" alt="Комбинированая доставка">
                <h3 class="delivery__name">Комбинированная <br> доставка</h3>
            </li>
        </ul>
    </div>
</section>