<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <a href="index.html" class="footer__logo">
        <img src="img/logo.png" alt="ЗДСК - производство железобетоннных конструкций">
        <span class="footer__logo--text">Производство железобетонных конструкций</span>
      </a>
      <input class="footer__search input-reset" type="text" placeholder="Поиск">
      <button class="btn-reset footer__btn"><svg class="footer__btn--icon"><use xlink:href="#search"></use></svg></button>
    </div>
    <div class="footer__container">
      <div class="footer__left">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link nav__link--img"><svg class="svg-icons"><use xlink:href="#catalog"></use></svg> Каталог</a></li>
            <li class="nav__item"><a href="#" class="nav__link">О производстве</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Закупки</a></li>
            <li class="nav__item"><a href="#" class="nav__link nav__link--img"><svg class="svg-icons"><use xlink:href="#price"></use></svg>Прайс</a></li>
          </ul>
        </nav>
        <div class="footer__main">
          <div class="footer__products">
            <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Кольца колодязные</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Лотки теплотарс</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Лотки кабельные</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Лоток железобетонный ЛК</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Лоток УБК</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Плиты покрытия лотков теплотрасс</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Плиты покрытия колекторов</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Плиты покртытия кабеьных лотков</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Днища колодязные</a></li>
            </ul>
            <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Аэродромные плиты</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Вентиляционные блоки</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Доборные балки</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Дорожные плиты</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Дорожные ограждения жби</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Дорожный бордюр</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Фундаменты дорожних знаков</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Железнобетонные стойки</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Заборы ЖБИ</a></li>
            </ul>
            <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Плиты укрепления откосов</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Прикромочные лотки</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Железобетонные фермы</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Приставки железобетонные</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Ригель железобетонный</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Стойки ЦКЦ</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Стойки УСЖ</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Телескопические лотки</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Труба железобетонная</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__top">
          <div class="footer__section">
            <a href="tel:79222020190" class="footer__tel footer__contact">7 922 20-20-190</a>
            <a href="mailto:zdsk.pg@yandex.ru" class="footer__email footer__contact">zdsk.pg@yandex.ru</a>
          </div>
          <div class="footer__section">
            <a href="tel:79221818158" class="footer__tel footer__contact">7 922 18-18-158</a>
            <a href="mailto:zdsk87@mail.ru" class="footer__email footer__contact">zdsk87@mail.ru</a>
          </div>
        </div>
        <div class="footer__location">
          <a href="#" target="blank" class="footer__address">Арамиль Базовая, 2а</a>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__text">2020, ЗДСК Производство железобетонных конструкций</p>
      <div class="footer__links">
        <a href="#" class="footer__link footer__conf">Публчная оферта</a>
        <a href="#" class="footer__link footer__conf">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>