<section class="guarantees">
    <div class="container">
        <div class="guarantees__inner">
            <div class="guarantees__block1">
                <h2 class="guarantees__title">ООО «ЗДСК» гарантирует</h2>
                <ul class="guarantees__list">
                    <li class="guarantees__item">Прочность изделий</li>
                    <li class="guarantees__item">Высокую степень качества</li>
                    <li class="guarantees__item">Устойчивость к статическим и динамическим нагрузкам</li>
                </ul>
            </div>
            <div class="guarantees__block2">
                <p class="guarantees__text">
                    Большой выбор товарных позиций предоставляет возможность приобрести продукцию для разных областей строительства: железных дорог, метро, автомобильных дорог и автомагистралей, для гражданского и промышленного строительства. Также изготавливаем изделия по индивидуальным чертежам заказчика. В собственности предприятия имеются: автотехника, автокраны, вилочные и фронтальные погрузчики. Это позволяет осуществлять круглосуточное изготовление и доставку железобетонных изделий нашим клиентам. Предлагаем несколько вариантов доставки изделий с завода: автотранспортом, по железной дороге, водным транспортом и комбинированными способами доставки.
                </p>
            </div>
        </div>
    </div>
</section>