<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="header__logo">
        <img src="img/logo.png" alt="ЗДСК - производство железобетоннных конструкций">
        <span class="header__logo--text">Производство железобетонных конструкций</span>
      </a>
      <nav class="nav nav--header">
        <ul class="nav__list">
          <li class="nav__item"><a href="catalog.html" class="nav__link nav__link--header nav__link--img"><svg class="svg-icons"><use xlink:href="#catalog"></use></svg>Каталог</a></li>
          <li class="nav__item"><a href="about-production.html" class="nav__link nav__link--header">О производстве</a></li>
          <li class="nav__item"><a href="news.html" class="nav__link nav__link--header">Новости</a></li>
          <li class="nav__item"><a href="purchases.html" class="nav__link nav__link--header">Закупки</a></li>
          <li class="nav__item"><a href="vacancies.html" class="nav__link nav__link--header">Вакансии</a></li>
          <li class="nav__item"><a href="#" class="nav__link nav__link--header nav__link--img"><svg class="svg-icons"><use xlink:href="#price"></use></svg>Прайс</a></li>
          <li class="nav__item"><a href="#" class="nav__link nav__link--header nav__link--img"><svg class="svg-icons svg-icons__search"><use xlink:href="#search"></use></svg>Поиск</a></li>
        </ul>
      </nav>
      <div class="header__phone-nav">
        <button class="btn-reset header__btn"><svg class="header__svg"><use xlink:href="#phone"></use></svg></button>
        <button class="btn-reset header__btn"><svg class="header__svg"><use xlink:href="#search"></use></svg></button>
        <button class="btn-reset burger-menu">
          <span class="burger-menu__item"></span>
          <span class="burger-menu__item"></span>
          <span class="burger-menu__item"></span>
        </button>
        <nav class="nav-mobile">
          <ul class="nav-mobile__list">
            <li class="nav-mobile__item"><a href="catalog.html" class="nav-mobile__link">Каталог</a></li>
            <li class="nav-mobile__item"><a href="about-production.html" class="nav-mobile__link">О производстве</a></li>
            <li class="nav-mobile__item"><a href="news.html" class="nav-mobile__link">Новости</a></li>
            <li class="nav-mobile__item"><a href="purchases.html" class="nav-mobile__link">Закупки</a></li>
            <li class="nav-mobile__item"><a href="vacancies.html" class="nav-mobile__link">Вакансии</a></li>
            <li class="nav-mobile__item"><a href="#" class="nav-mobile__link">Прайс</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>