<section class="hero">
    <div class="container container__hero">
        <div class="hero__content">
            <h1 class="hero__title section-title">Производство железобетонных конструкций для промышленных объектов</h1>
            <p class="hero__description">
                Компания чётко ориентируется на рынке, ассортимент продукции постоянно расширяется, при этом качество продукции только растет. Все это отражается на ценовой политике и позволяет поддерживать ее на низком уровне
            </p>
            <div class="hero__btns">
                <a href="about-production.html" class="btn btn--md btn__accent hero__btn">Подробнее</a>
                <a href="catalog.html" class="btn btn--md btn__empt">Заказать</a>
            </div>
        </div>
        <img class="hero__img" src="img/hero-bg.png" alt="">
    </div>
</section>