<section class="news-section">
    <div class="container">
        <h2 class="section-title">Новости</h2>
        <ul class="news-section__list">
            <li class="news-section__item">
                <img class="news-section__img" src="img/news-section1.jpg" alt="">
                <h3 class="news-section__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</h3>
                <p class="news-section__date">22 февраля 2022</p>
                <button href="#" class="btn-reset btn btn__accent btn__short detailed">Подробнее</button>
            </li>
            <li class="news-section__item">
                <img class="news-section__img" src="img/news-section2.jpg" alt="">
                <h3 class="news-section__title">Изделия «ЗДСК» для одного из лучших в Украине спинальных центров</h3>
                <p class="news-section__date">15 января 2022</p>
                <button href="#" class="btn-reset btn btn__accent btn__short detailed">Подробнее</button>
            </li>
            <li class="news-section__item">
                <img class="news-section__img" src="img/news-section3.jpg" alt="">
                <h3 class="news-section__title">«ЗДСК» изготовила 30-тонные колонны очень сложной  конфигурации</h3>
                <p class="news-section__date">28 апреля 2022</p>
                <button href="#" class="btn-reset btn btn__accent btn__short detailed">Подробнее</button>
            </li>
            <li class="news-section__item">
                <img class="news-section__img" src="img/news-section1.jpg" alt="">
                <h3 class="news-section__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</h3>
                <p class="news-section__date">28 апреля 2022</p>
                <button href="#" class="btn-reset btn btn__accent btn__short detailed">Подробнее</button>
            </li>
        </ul>
        <a href="news.html" class="btn btn__accent btn-reset btn__wide news-section__button">Все новости</a>
    </div>
</section>