<section class="production">
    <div class="container">
        <h2 class="section-title">Производство</h2>
        <div class="production__inner">
            <div class="production__item">
                <h3 class="production__num">4000</h3>
                <p class="production__space">м<sup>3</sup> площадь производства</p>
            </div>
            <div class="production__item">
                <h3 class="production__num">700+</h3>
                <p class="production__space">количество клиентов</p>
            </div>
            <div class="production__item">
                <h3 class="production__num">4000</h3>
                <p class="production__space">м<sup>3</sup> бетона в день</p>
            </div>
        </div>
    </div>
</section>