<section class="stock">
    <div class="container">
        <h2 class="section-title">Склад готовой продукции</h2>
        <div class="stock__slider-container">
            <div class="swiper swiper-stock-main">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="img/stock-slide1.jpg"/>
                  </div>
                  <div class="swiper-slide">
                    <img src="img/stock-slide2.jpg"/>
                  </div>
                  <div class="swiper-slide">
                    <img src="img/stock-slide3.jpg"/>
                  </div>
                  <div class="swiper-slide">
                    <img src="img/stock-slide4.jpg"/>
                  </div>
                  <div class="swiper-slide">
                    <img src="img/stock-slide5.jpg"/>
                  </div>
                  <div class="swiper-slide">
                    <img src="img/stock-slide6.jpg"/>
                  </div>
                  <div class="swiper-slide">
                    <img src="img/stock-slide7.jpg"/>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
        </div>
      <div thumbsSlider="" class="swiper swiper-stock-preview">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/stock-slide1.jpg"/>
          </div>
          <div class="swiper-slide">
            <img src="img/stock-slide2.jpg"/>
          </div>
          <div class="swiper-slide">
            <img src="img/stock-slide3.jpg"/>
          </div>
          <div class="swiper-slide">
            <img src="img/stock-slide4.jpg"/>
          </div>
          <div class="swiper-slide">
            <img src="img/stock-slide5.jpg"/>
          </div>
          <div class="swiper-slide">
            <img src="img/stock-slide6.jpg"/>
          </div>
          <div class="swiper-slide">
            <img src="img/stock-slide7.jpg"/>
          </div>
        </div>
      </div>
    </div>
</section>