// Colors
$black-color: #050f22;
$grey-color: #7A8396;
$dark-blue-color: #0C1D37;
$dark-grey-color: #4B5362;
$border-color: #DEE2E7;
$white-color: #FFFFFF;
$ligth-color: #F1F3F4;
$accent-color: #FF7A00;
$dark-accent-color: #F55800;